<div *ngIf="programStageMetadata && dataElements">
  <div>
    <h4>{{ programStageMetadata['dataEntryForm'].name }}</h4>
  </div>
  <ngx-dhis2-custom-forms-entry
    [htmlCustomForm]="programStageMetadata['dataEntryForm']['htmlCode']"
    [dataElements]="dataElements"
    [formType]="formType"
    [formId]="stageId"
    [elementsDataValues]="predefinedDataValues"
    (onCustomFormInputChange)="detailsOfTheChangedValue($event)"
    [statusUpdateOnDomElement]="statusArr"
  >
  </ngx-dhis2-custom-forms-entry>
</div>
<div *ngIf="!programStageMetadata || !dataElements">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
