<div *ngIf="!resources || resources.length == 0">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="row w-100 mx-0" *ngIf="resources && resources.length > 0">
  <input
    id="searching-input"
    placeholder="Search "
    [(ngModel)]="searchingItem"
  />
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" style="width: 100%">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="More actions on resource"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngIf="!element.action.external"
            (click)="openResource(element.action.url)"
          >
            <mat-icon>cloud_download</mat-icon>
            <span>Download</span>
          </button>
          <button
            mat-menu-item
            *ngIf="element.action.external"
            (click)="openResource(element.action.url)"
          >
            <mat-icon>link</mat-icon>
            <span>View</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 20, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
