<div style="height:100vh;background-color: #FFF;">
  <div class="row" style="padding: 10px">
    <div class="col-12 report-header">
      <h3>Reporting rates summary</h3>
      <hr style="margin: 0" />
    </div>

    <div *ngIf="!(dataSets$ | async)">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div
      class="col-12  filters"
      *ngIf="(dataSets$ | async) && (dataSets$ | async).length > 0"
    >
      <div style="width: 30%; float: left;">
        <ngx-dataset-filter
          [dataSets]="dataSets$ | async"
          (selectedDataSet)="onDataSetSelectionChanged($event)"
        >
        </ngx-dataset-filter>
      </div>
      <div style="width: 40%; float: left; margin-left: 20px; margin-top: 10px">
        <ngx-dhis2-selection-filters
          [selectionFilterConfig]="selectionFilterConfig"
          (filterUpdate)="onFilterUpdate($event)"
        >
        </ngx-dhis2-selection-filters>
      </div>
    </div>
    <div
      class="col-12"
      style="margin-top: 50px"
      *ngIf="!(dataSets$ | async) && (dataSets$ | async).length == 0"
    >
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div
    *ngIf="
      (currentUser$ | async) &&
      filterSelections &&
      filterSelections.length > 1 &&
      (ouWithChildren$ | async) &&
      selectionChanged
    "
  >
    <app-report
      [selectedDataSet]="selectedDataSet"
      [currentUser]="currentUser$ | async"
      [filterSelections]="filterSelections"
      [ouWithChildren]="ouWithChildren$ | async"
    >
    </app-report>
  </div>
</div>
