<div>
  <div class="header">
    <a routerLink="/clients">Clients</a> /
    <a routerLink="/clients/new/register">New Client</a>
  </div>
  <div
    class="customer-registration"
    *ngIf="
      (systemId$ | async) &&
      (systemId$ | async)?.codes &&
      (currentUser$ | async) &&
      (customers$ | async) &&
      (systemAttributes$ | async)
    "
  >
    <app-new-patient
      [customerUID]="((systemId$ | async)?.codes)[0]"
      [customers]="customers$ | async"
      [currentUser]="currentUser$ | async"
      [systemAttributes]="systemAttributes$ | async"
      [trackedEntityInstanceId]="((systemId$ | async)?.codes)[1]"
      [facilityId]="facilityId"
    ></app-new-patient>
  </div>

  <div
    *ngIf="
      !(systemId$ | async) ||
      ((systemId$ | async) && !(systemId$ | async)?.codes) ||
      !(customers$ | async) ||
      ((customers$ | async) && (customers$ | async)?.length == 0) ||
      !(systemAttributesLoadedState$ | async)
    "
  >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
