<div
  class="selection-filter-container"
  appClickOutside
  (clickOutside)="onClickOutside()"
>
  <!--selection filter header-->
  <div class="selection-filter-header">
    <div class="selection-filter-btn-list">
      <!--data filter button-->
      <button
        mat-stroked-button
        [disabled]="saving"
        *ngIf="filterConfig?.showDataFilter && currentUserHasAuthorities"
        color="{{ selectedFilter === 'DATA' ? 'primary' : 'dark' }}"
        [title]="'Filter by data' | translate"
        (click)="toggleCurrentFilter($event, 'DATA')"
      >
        <img [src]="dataIcon" alt="" />&nbsp;{{ 'Data' | translate }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': selectedFilter === 'DATA' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>
      <!--end of data filter button-->

      <!--Legend configuration button-->
      <button
        *ngIf="filterConfig?.showDataFilter && currentUserHasAuthorities"
        [ngClass]="{
          'selection-filter-btn': true,
          'active-filter': _selectedFilter === 'LEGEND_CONFIGURATION'
        }"
        [title]="'Configure legend' | translate"
        (click)="toggleCurrentFilter($event, 'LEGEND_CONFIGURATION')"
      >
        <img [src]="dataIcon" alt="" />&nbsp;{{ 'Legend' | translate }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': _selectedFilter === 'LEGEND_CONFIGURATION' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>
      <!--end of Legend configuration button-->

      <!--period filter button-->
      <button
        mat-stroked-button
        [disabled]="saving"
        *ngIf="filterConfig?.showPeriodFilter"
        color="{{ selectedFilter === 'PERIOD' ? 'primary' : '' }}"
        [title]="'Filter by period' | translate"
        (click)="toggleCurrentFilter($event, 'PERIOD')"
      >
        <i class="fa fa-clock-o"></i>&nbsp;{{ 'Period' | translate }}&nbsp;
        <span class="badge badge-secondary">{{
          selectedPeriods | summarizeSelection
        }}</span
        >&nbsp;
        <i
          class="fa {{
            selectedFilter === 'PERIOD' ? 'fa-caret-up' : 'fa-caret-down'
          }}"
        ></i>
      </button>
      <!--end of period filter button-->

      <!--org unit filter button-->
      <button
        mat-stroked-button
        [disabled]="saving"
        *ngIf="filterConfig?.showOrgUnitFilter"
        color="{{ selectedFilter === 'ORG_UNIT' ? 'primary' : '' }}"
        [title]="'Filter by organisation unit' | translate"
        (click)="toggleCurrentFilter($event, 'ORG_UNIT')"
      >
        <i class="fa fa-sitemap"></i>&nbsp;{{ 'Org-Unit' | translate }}
        &nbsp;
        <span class="badge badge-secondary">{{
          selectedOrgUnits | summarizeSelection
        }}</span>
        &nbsp;<i
          class="fa {{
            selectedFilter === 'ORG_UNIT' ? 'fa-caret-up' : 'fa-caret-down'
          }}"
        ></i>
      </button>
      <!--end of org unit filter button-->

      <!--data filter button-->
      <button
        mat-stroked-button
        [disabled]="saving"
        *ngIf="filterConfig?.showDataFilter"
        color="{{ selectedFilter === 'DATA' ? 'primary' : '' }}"
        [title]="'Filter by data' | translate"
        (click)="toggleCurrentFilter($event, 'DATA')"
      >
        <i class="fa fa-th"></i>&nbsp;{{ 'Data' | translate }}&nbsp;
        <span class="badge badge-secondary">{{
          selectedInterventions | summarizeSelection
        }}</span
        >&nbsp;
        <i
          class="fa {{
            selectedFilter === 'DATA' ? 'fa-caret-up' : 'fa-caret-down'
          }}"
        ></i>
      </button>
      <!--end of data filter button-->

      <button
        *ngIf="currentUserHasAuthorities"
        [disabled]="saving"
        class="selection-filter-btn"
        (click)="onSave($event)"
      >
        <img src="assets/icons/save.png" alt="" />&nbsp;{{
          saving ? 'Saving...' : 'Save'
        }}
      </button>
    </div>
  </div>
  <!--end of selection filter header-->

  <!--selection filter body-->
  <div
    class="selection-filter-body"
    *ngIf="selectedFilter !== '' && showFilterBody"
  >
    <!--period filter-->
    <ngx-dhis2-period-filter
      *ngIf="selectedFilter === 'PERIOD'"
      [selectedPeriods]="selectedPeriods"
      [periodFilterConfig]="{ singleSelection: true }"
      (close)="onFilterClose($event, 'PERIOD')"
      (update)="onFilterUpdate($event, 'PERIOD')"
    ></ngx-dhis2-period-filter>
    <!--end of period filter-->

    <!--org unit filter-->
    <ngx-dhis2-org-unit-filter
      *ngIf="selectedFilter === 'ORG_UNIT'"
      [selectedOrgUnitItems]="selectedOrgUnits"
      [orgUnitFilterConfig]="filterConfig?.orgUnitFilterConfig"
      (orgUnitClose)="onFilterClose($event, 'ORG_UNIT')"
      (orgUnitUpdate)="onFilterUpdate($event, 'ORG_UNIT')"
    ></ngx-dhis2-org-unit-filter>
    <!--end of org unit filter-->

    <!--data filter-->
    <ngx-dhis2-data-filter
      *ngIf="selectedFilter === 'DATA'"
      [selectedItems]="selectedData"
      [selectedGroups]="selectedDataGroups"
      [dataFilterConfig]="dataFilterConfig"
      (update)="onFilterUpdate($event, 'UPDATE')"
      (close)="onFilterClose($event, 'CLOSE')"
    >
    </ngx-dhis2-data-filter>
    <!--end of data filter-->

    <!-- <app-layout
      [layoutModel]="layoutItem"
      *ngIf="selectedFilter === 'LAYOUT'"
      (onLayoutUpdate)="onFilterUpdate($event, 'LAYOUT')"
      (onLayoutClose)="onFilterClose($event, 'LAYOUT')"
    ></app-layout> -->
  </div>
  <!--end of selection filter body-->
</div>
