<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6 menu-list">
    <div class="card-btn">
      <div class="header">
        <h4>Standard Reports</h4>
      </div>
      <div class="description">
        <p>
          View standard reports based on the custom designs. These can be based
          on report tables and can be designed in iReport.
        </p>
      </div>
      <div class="footer" style="bottom: 0">
        <a routerLink="standard-reports">View report</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 menu-list">
    <div class="card-btn">
      <div class="header">
        <h4>Old Standard Reports</h4>
      </div>
      <div class="description">
        <p>
          View standard reports based on the old custom designs. These are based
          on reports customized to run in DHIS2 reports App.
        </p>
      </div>
      <div class="footer" style="bottom: 0">
        <a routerLink="old-standard-reports">View report</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 menu-list">
    <div class="card-btn">
      <div class="header">
        <h4>Dataset Reports</h4>
      </div>
      <div class="description">
        <p>
          View data set reports. These reports are based on data entry screens
          and will produce a report with aggregated data.
        </p>
      </div>
      <div class="footer">
        <a routerLink="datasets-reports">Generate report</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 menu-list">
    <div class="card-btn">
      <div class="header">
        <h4>Reporting Rate Summary</h4>
      </div>
      <div class="description">
        <p>
          Browse the reporting rates of data sets by organisation unit and
          period based on various criteria for submission.
        </p>
      </div>
      <div class="footer">
        <a routerLink="reporting-rates">Generate report</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 menu-list">
    <div class="card-btn">
      <div class="header">
        <h4>Resources</h4>
      </div>
      <div class="description">
        <p>
          View and add resources. These resources can be uploaded documents or
          URLs on the web.
        </p>
      </div>
      <div class="footer">
        <a routerLink="resources">Get resources</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 menu-list">
    <div class="card-btn">
      <div class="header">
        <h4>Organisation Units Distribution Report</h4>
      </div>
      <div class="description">
        <p>
          Browse the organisation unit distribution report based on the
          organisation unit group sets and its groups.
        </p>
      </div>
      <div class="footer">
        <a routerLink="organisation-units-distribution"
          >View distribution report</a
        >
      </div>
    </div>
  </div>
</div>
