.card-btn {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-width: 200px;
  padding: 20px 30px;
  background-color: rgb(255, 255, 255, 0.41);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 100%;
  border-radius: 5px;
}

.menu-list {
  margin-top: 15px;
}

.card-btn a,
.card-btn p,
.card-btn h4 {
  font-family: Roboto, sans-serif;
}

.card-btn {
  height: 180px !important;
}
