.application-content {
  margin-top: 48px;
  padding: 0px;
  background-color: #f3f3f3;
}

.reports-list {
  margin-top: 10px;
  padding-top: 15px 0 0 0 !important;
}

.reports-list li {
  cursor: pointer;
  list-style: none;
  padding: 5px;
  background-color: #efefef;
  margin: 2px;
  border-radius: 0 15px 15px 0;

  font-family: Roboto, sans-serif;
}

.reports-list-menu {
  border-right: solid 1px #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 1px 0px;
}

.reports-list li:hover {
  color: rgb(33, 150, 243);
}

.active-route {
  padding: 0px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  background-color: rgb(224, 224, 224);
  color: rgb(33, 150, 243);
}

.control-arrows,
.home-btn {
  border: none;
  background-color: transparent;
}

.hide-left-menu {
  display: none;
}
