<ngx-dhis2-menu></ngx-dhis2-menu>

<div class="application-content continer-fluid">
  <div class="row" style="margin-left: 0px;margin-right: 0px;">
    <div class="col-md-2">
      <ul class="reports-list">
        <li routerLink="standard-reports" routerLinkActive="active-route">
          Standard Report
        </li>
        <li routerLink="datasets-reports" routerLinkActive="active-route">
          Dataset Report
        </li>
        <li routerLink="reporting-rates" routerLinkActive="active-route">
          Reporting Rate Summary
        </li>
        <li routerLink="resources" routerLinkActive="active-route">
          Resources
        </li>
        <li routerLink="organisation-units" routerLinkActive="active-route">
          Organisation Units Report
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
