<ngx-dhis2-menu></ngx-dhis2-menu>

<div class="application-content continer-fluid">
  <div class="row" style="margin-left: 0px;margin-right: 0px;padding:0px;">
    <div
      class="col-md-2 reports-list-menu"
      style="height: calc(100vh - 48px);background-color: #f2f2f2;"
    >
      <ul class="reports-list">
        <li routerLink="standard-reports" routerLinkActive="active-route">
          Standard Reports
        </li>
        <li routerLink="old-standard-reports" routerLinkActive="active-route">
          Old Standard Reports
        </li>
        <li routerLink="datasets-reports" routerLinkActive="active-route">
          Dataset Reports
        </li>
        <li routerLink="reporting-rates" routerLinkActive="active-route">
          Reporting Rate Summary
        </li>
        <li routerLink="resources" routerLinkActive="active-route">
          Resources
        </li>
        <li
          routerLink="organisation-units-distribution"
          routerLinkActive="active-route"
        >
          Organisation Units Reports
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
