<div class="patients-finder">
  <div class="header">
    <h3>Patients</h3>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-8">
      <div
        *ngIf="
          !(patients$ | async) ||
          ((patients$ | async) && (patients$ | async)?.length == 0) ||
          !(systemAttributesLoadedState$ | async)
        "
      >
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div
        *ngIf="
          (patients$ | async) &&
          (patients$ | async)?.length > 0 &&
          (systemAttributesLoadedState$ | async)
        "
      >
        <app-patients-list
          [customers]="patients$ | async"
          [systemAttributes]="systemAttributes$ | async"
        ></app-patients-list>
      </div>
    </div>
    <div class="col-md-4">
      <app-rooms-status></app-rooms-status>
    </div>
  </div>
</div>
