/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cdk-overlay-pane-select-search.cdk-overlay-pane-select-search-with-offset {
  margin-top: 50px !important;
}

.mat-button-toggle-label-content {
  line-height: 36px !important;
}

.mat-radio-outer-circle {
  box-sizing: border-box;
  height: 10px !important;
  left: 0;
  position: absolute;
  top: 5px !important;
  transition: border-color ease 280ms;
  width: 10px !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.mat-radio-inner-circle {
  box-sizing: border-box;
  height: 10px !important;
  left: 0;
  position: absolute;
  top: 5px !important;
  transition: border-color ease 280ms;
  width: 10px !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.mat-radio-label-content {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  margin-left: -10px !important;
  margin-right: 15px !important;
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-left: 8px;
  padding-right: 0;
}
